.boekSelectie__cover {
  max-width: 100px;
}

.boekSelectie__rij--accent {
  background-color: #def;
}

.boekSelectie__data-cel {
  padding: 1em;
  vertical-align: top;
}

.boekSelectie__data-cel:nth-child(3) {
  padding: 0;
}

/* Layout voor de sections */
.boekSelectie {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 1em;
  margin-bottom: 1em;
}

.boekSelectie__prijs {
  font-size: 2em;
}
